h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

main {
    width: 50%;
    margin: 0 auto;
    background-color: #eee;
    height: 100vh
}

.app-header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px
}

ul {
    list-style: none;
    margin: 0 auto;
    width: 50%;
}

li {
    display: flex;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px 0px;
    justify-content: space-between;
}

li button {
    margin: 0px 5px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #bbb;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

button {
    padding: 3px;
    cursor: pointer;
}